.header-header {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-shrink: 0;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.header-text {
  height: auto;
  line-height: 150%;
}
.header-frame6 {
  gap: var(--dl-space-space-fiveunits);
  display: flex;
}
.header-text2 {
  height: auto;
  line-height: 150%;
}
.header-text3 {
  height: auto;
  line-height: 150%;
}
.header-text5 {
  height: auto;
  line-height: 150%;
}

@media(max-width: 991px) {
  .header-frame6 {
    gap: var(--dl-space-space-fourunits);
  }
}
@media(max-width: 767px) {
  .header-header {
    gap: var(--dl-space-space-oneandhalfunits);
    flex-direction: column;
    justify-content: flex-start;
  }
  .header-frame6 {
    gap: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .header-header {
    gap: var(--dl-space-space-oneandhalfunits);
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
}

.h1-property1h1 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.h1-text {
  color: var(--dl-color-palette-accent);
}



.section-container {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-tenunits);
  padding-right: var(--dl-space-space-tenunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
}
.section-custom-slot {
  display: contents;
}














@media(max-width: 991px) {
  .section-container {
    padding-left: var(--dl-space-space-fourunits);
    padding-right: var(--dl-space-space-fourunits);
  }
}
@media(max-width: 767px) {
  .section-container {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .section-container {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
}

.h2-property1h2 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
}
.h2-text {
  color: var(--dl-color-palette-accent);
  width: auto;
  height: auto;
  align-self: stretch;
  line-height: 100%;
}
.h2-text1 {
  width: auto;
  height: auto;
  align-self: stretch;
  line-height: 150%;
}
.h2-text2 {
  width: auto;
  height: auto;
  align-self: stretch;
  line-height: 150%;
}

.h2-root-class-name1 {
  flex: 1;
  width: 100%;
}
.h2-root-class-name2 {
  flex: 1;
  width: 100%;
}

















@media(max-width: 479px) {
  .h2-root-class-name1 {
    flex: 0 0 auto;
  }
  .h2-root-class-name2 {
    flex: 0 0 auto;
  }
}

.section-container {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-tenunits);
  padding-right: var(--dl-space-space-tenunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
}
.section-custom-slot {
  display: contents;
}
.section-container01 {
  gap: var(--dl-space-space-fourunits);
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
}














@media(max-width: 991px) {
  .section-container {
    padding-left: var(--dl-space-space-fourunits);
    padding-right: var(--dl-space-space-fourunits);
  }
}
@media(max-width: 767px) {
  .section-container {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .section-container {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .section-container01 {
    gap: var(--dl-space-space-twounits);
  }
}

.h3-property1h3 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.h3-text {
  color: var(--dl-color-palette-accent);
  height: auto;
  align-self: stretch;
  line-height: 100%;
}
.h3-text1 {
  height: auto;
  align-self: stretch;
  line-height: 150%;
}







.h3-root-class-name7 {
  align-self: center;
}
.h3-root-class-name8 {
  align-self: center;
}





.card-section {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  text-align: center;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-corner);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: center;
  background-color: var(--dl-color-palette-light);
}
.card-custom-slot {
  display: contents;
}
.card-root-class-name {
  flex: 4;
  width: 100%;
}
.card-root-class-name1 {
  flex: 4;
  width: 100%;
}




.card-root-class-name9 {
  flex: 4;
  width: auto;
}
.card-root-class-name10 {
  flex: 4;
  width: 100%;
}
@media(max-width: 767px) {
  .card-root-class-name {
    flex: 0 0 auto;
  }
  .card-root-class-name1 {
    flex: 0 0 auto;
  }
  .card-root-class-name9 {
    flex: 0 0 auto;
    width: 100%;
  }
  .card-root-class-name10 {
    flex: 0 0 auto;
  }
}

.card-section {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  text-align: center;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-corner);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: center;
  background-color: var(--dl-color-palette-light);
}
.card-custom-slot {
  display: contents;
}
.card-root-class-name {
  flex: 4;
  width: 100%;
}
.card-root-class-name1 {
  flex: 4;
  width: 100%;
}




.card-root-class-name9 {
  flex: 4;
  width: auto;
}
.card-root-class-name10 {
  flex: 4;
  width: 100%;
}
@media(max-width: 767px) {
  .card-root-class-name {
    flex: 0 0 auto;
  }
  .card-root-class-name1 {
    flex: 0 0 auto;
  }
  .card-root-class-name9 {
    flex: 0 0 auto;
    width: 100%;
  }
  .card-root-class-name10 {
    flex: 0 0 auto;
  }
}

.card-section {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  text-align: center;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-corner);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: center;
  background-color: var(--dl-color-palette-light);
}
.card-custom-slot {
  display: contents;
}
.card-root-class-name {
  flex: 4;
  width: 100%;
}
.card-root-class-name1 {
  flex: 4;
  width: 100%;
}




.card-root-class-name9 {
  flex: 4;
  width: auto;
}
.card-root-class-name10 {
  flex: 4;
  width: 100%;
}
@media(max-width: 767px) {
  .card-root-class-name {
    flex: 0 0 auto;
  }
  .card-root-class-name1 {
    flex: 0 0 auto;
  }
  .card-root-class-name9 {
    flex: 0 0 auto;
    width: 100%;
  }
  .card-root-class-name10 {
    flex: 0 0 auto;
  }
}

.card-section {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  text-align: center;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-corner);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: center;
  background-color: var(--dl-color-palette-light);
}
.card-custom-slot {
  display: contents;
}
.card-root-class-name {
  flex: 4;
  width: 100%;
}
.card-root-class-name1 {
  flex: 4;
  width: 100%;
}




.card-root-class-name9 {
  flex: 4;
  width: auto;
}
.card-root-class-name10 {
  flex: 4;
  width: 100%;
}
@media(max-width: 767px) {
  .card-root-class-name {
    flex: 0 0 auto;
  }
  .card-root-class-name1 {
    flex: 0 0 auto;
  }
  .card-root-class-name9 {
    flex: 0 0 auto;
    width: 100%;
  }
  .card-root-class-name10 {
    flex: 0 0 auto;
  }
}

.section-container {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-tenunits);
  padding-right: var(--dl-space-space-tenunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
}
.section-custom-slot {
  display: contents;
}
.section-container02 {
  gap: var(--dl-space-space-threeunits);
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
}
.section-container03 {
  gap: var(--dl-space-space-threeunits);
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
}














@media(max-width: 991px) {
  .section-container {
    padding-left: var(--dl-space-space-fourunits);
    padding-right: var(--dl-space-space-fourunits);
  }
}
@media(max-width: 767px) {
  .section-container {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .section-container {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
}

.card-section {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  text-align: center;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-corner);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: center;
  background-color: var(--dl-color-palette-light);
}
.card-custom-slot {
  display: contents;
}
.card-text {
  width: auto;
}
.card-root-class-name {
  flex: 4;
  width: 100%;
}
.card-root-class-name1 {
  flex: 4;
  width: 100%;
}




.card-root-class-name9 {
  flex: 4;
  width: auto;
}
.card-root-class-name10 {
  flex: 4;
  width: 100%;
}
@media(max-width: 767px) {
  .card-root-class-name {
    flex: 0 0 auto;
  }
  .card-root-class-name1 {
    flex: 0 0 auto;
  }
  .card-root-class-name9 {
    flex: 0 0 auto;
    width: 100%;
  }
  .card-root-class-name10 {
    flex: 0 0 auto;
  }
}

.quote-quote {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  padding-top: 0px;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: 0px;
  justify-content: flex-start;
}
.quote-text {
  color: var(--dl-color-palette-accent);
  align-self: center;
  text-align: center;
  line-height: 100%;
  padding-top: var(--dl-space-space-threeunits);
}
.quote-text1 {
  top: 0px;
  left: 0px;
  color: var(--dl-color-palette-accent);
  right: 0px;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 96px;
  font-style: Bold;
  text-align: center;
  font-family: "Kalnia";
  font-weight: 700;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}



.card-section {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  text-align: center;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-corner);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: center;
  background-color: var(--dl-color-palette-light);
}
.card-custom-slot {
  display: contents;
}
.card-text02 {
  font-size: 1rem;
  font-style: normal;
  font-family: "Lato";
  font-weight: 300;
  line-height: 130%;
  padding-top: var(--dl-space-space-unit);
}
.card-root-class-name {
  flex: 4;
  width: 100%;
}
.card-root-class-name1 {
  flex: 4;
  width: 100%;
}




.card-root-class-name9 {
  flex: 4;
  width: auto;
}
.card-root-class-name10 {
  flex: 4;
  width: 100%;
}
@media(max-width: 767px) {
  .card-root-class-name {
    flex: 0 0 auto;
  }
  .card-root-class-name1 {
    flex: 0 0 auto;
  }
  .card-root-class-name9 {
    flex: 0 0 auto;
    width: 100%;
  }
  .card-root-class-name10 {
    flex: 0 0 auto;
  }
}

.card-section {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  text-align: center;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-corner);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: center;
  background-color: var(--dl-color-palette-light);
}
.card-custom-slot {
  display: contents;
}
.card-root-class-name {
  flex: 4;
  width: 100%;
}
.card-root-class-name1 {
  flex: 4;
  width: 100%;
}




.card-root-class-name9 {
  flex: 4;
  width: auto;
}
.card-root-class-name10 {
  flex: 4;
  width: 100%;
}
@media(max-width: 767px) {
  .card-root-class-name {
    flex: 0 0 auto;
  }
  .card-root-class-name1 {
    flex: 0 0 auto;
  }
  .card-root-class-name9 {
    flex: 0 0 auto;
    width: 100%;
  }
  .card-root-class-name10 {
    flex: 0 0 auto;
  }
}

.section-container {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-tenunits);
  padding-right: var(--dl-space-space-tenunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
}
.section-custom-slot {
  display: contents;
}














@media(max-width: 991px) {
  .section-container {
    padding-left: var(--dl-space-space-fourunits);
    padding-right: var(--dl-space-space-fourunits);
  }
}
@media(max-width: 767px) {
  .section-container {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .section-container {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
}

.section-container {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-tenunits);
  padding-right: var(--dl-space-space-tenunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
}
.section-custom-slot {
  display: contents;
}
.section-cjm {
  gap: 8px;
  width: 100%;
  height: auto;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  border-radius: 10px;
  flex-direction: column;
}
.section-container05 {
  display: contents;
}
.section-row1 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: flex-end;
  flex-shrink: 0;
  border-radius: var(--dl-radius-radius-corner);
  background-color: var(--dl-color-palette-light);
}
.section-container06 {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.section-container07 {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.section-container08 {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.section-container09 {
  flex: 1;
  width: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: row;
}
.section-row2 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  flex-shrink: 0;
  border-radius: var(--dl-radius-radius-corner);
  justify-content: flex-start;
  background-color: var(--dl-color-palette-light);
}
.section-container10 {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.section-container11 {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.section-container12 {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.section-container13 {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.section-row3 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  flex-shrink: 0;
  border-radius: var(--dl-radius-radius-corner);
  justify-content: space-between;
  background-color: var(--dl-color-palette-light);
}
.section-container14 {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.section-container15 {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.section-container16 {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.section-container17 {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.section-row4 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  flex-shrink: 0;
  border-radius: var(--dl-radius-radius-corner);
  justify-content: space-between;
  background-color: var(--dl-color-palette-accent);
}
.section-container18 {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section-container19 {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section-container20 {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section-container21 {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section-emotions {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  flex-shrink: 0;
  border-radius: var(--dl-radius-radius-corner);
  background-color: var(--dl-color-palette-light);
}
.section-container22 {
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.section-frame4227 {
  flex: 1;
  display: flex;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.section-apathy {
  width: 80px;
  height: 80px;
}
.section-frame4232 {
  gap: var(--dl-space-space-twounits);
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.section-unhappy {
  width: 80px;
  height: 80px;
}
.section-irreverent {
  width: 80px;
  height: 80px;
}
.section-frame4233 {
  gap: var(--dl-space-space-fiveunits);
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.section-unhappy1 {
  width: 80px;
  height: 80px;
}
.section-image2x {
  width: 80px;
  height: 80px;
}
.section-row5 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  flex-shrink: 0;
  border-radius: var(--dl-radius-radius-corner);
  justify-content: space-between;
  background-color: var(--dl-color-palette-accent);
}
.section-container23 {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section-container24 {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section-container25 {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section-container26 {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}














@media(max-width: 991px) {
  .section-container {
    padding-left: var(--dl-space-space-fourunits);
    padding-right: var(--dl-space-space-fourunits);
  }
}
@media(max-width: 767px) {
  .section-container {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .section-container {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .section-text20 {
    width: 100%;
  }
}

.imagecarousel-imagecarousel {
  display: flex;
  padding: var(--dl-space-space-twounits);
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: var(--dl-radius-radius-corner);
  justify-content: center;
  background-color: var(--dl-color-palette-light);
}
.imagecarousel-text {
  color: rgba(0, 0, 0, 1);
  height: auto;
  text-align: left;
  line-height: 100%;
}




.section-container {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-tenunits);
  padding-right: var(--dl-space-space-tenunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
}
.section-custom-slot {
  display: contents;
}














@media(max-width: 991px) {
  .section-container {
    padding-left: var(--dl-space-space-fourunits);
    padding-right: var(--dl-space-space-fourunits);
  }
}
@media(max-width: 767px) {
  .section-container {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .section-container {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
}

.section-container {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-tenunits);
  padding-right: var(--dl-space-space-tenunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
}
.section-custom-slot {
  display: contents;
}














@media(max-width: 991px) {
  .section-container {
    padding-left: var(--dl-space-space-fourunits);
    padding-right: var(--dl-space-space-fourunits);
  }
}
@media(max-width: 767px) {
  .section-container {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .section-container {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
}

.list-container {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}


.section-container {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-tenunits);
  padding-right: var(--dl-space-space-tenunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
}
.section-custom-slot {
  display: contents;
}














@media(max-width: 991px) {
  .section-container {
    padding-left: var(--dl-space-space-fourunits);
    padding-right: var(--dl-space-space-fourunits);
  }
}
@media(max-width: 767px) {
  .section-container {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .section-container {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
}

.section-container {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-tenunits);
  padding-right: var(--dl-space-space-tenunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
}
.section-custom-slot {
  display: contents;
}
.section-container27 {
  gap: var(--dl-space-space-threeunits);
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.section-container28 {
  gap: var(--dl-space-space-twounits);
  flex: 1;
  width: auto;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.section-image {
  width: auto;
  height: 100%;
  object-fit: cover;
}
.section-container29 {
  gap: var(--dl-space-space-twounits);
  flex: 1;
  width: auto;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.section-image1 {
  width: 100%;
  align-self: stretch;
  object-fit: cover;
}














@media(max-width: 991px) {
  .section-container {
    padding-left: var(--dl-space-space-fourunits);
    padding-right: var(--dl-space-space-fourunits);
  }
}
@media(max-width: 767px) {
  .section-container {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .section-container {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .section-container27 {
    flex-direction: column;
  }
  .section-image {
    width: 100%;
    height: auto;
  }
}

.card-section {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  text-align: center;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-corner);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: center;
  background-color: var(--dl-color-palette-light);
}
.card-custom-slot {
  display: contents;
}
.card-root-class-name {
  flex: 4;
  width: 100%;
}
.card-root-class-name1 {
  flex: 4;
  width: 100%;
}




.card-root-class-name9 {
  flex: 4;
  width: auto;
}
.card-root-class-name10 {
  flex: 4;
  width: 100%;
}
@media(max-width: 767px) {
  .card-root-class-name {
    flex: 0 0 auto;
  }
  .card-root-class-name1 {
    flex: 0 0 auto;
  }
  .card-root-class-name9 {
    flex: 0 0 auto;
    width: 100%;
  }
  .card-root-class-name10 {
    flex: 0 0 auto;
  }
}

.section-container {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-tenunits);
  padding-right: var(--dl-space-space-tenunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
}
.section-custom-slot {
  display: contents;
}














@media(max-width: 991px) {
  .section-container {
    padding-left: var(--dl-space-space-fourunits);
    padding-right: var(--dl-space-space-fourunits);
  }
}
@media(max-width: 767px) {
  .section-container {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .section-container {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
}

.chart-card-flowchartblock {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  flex-shrink: 0;
  border-radius: var(--dl-radius-radius-corner);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-palette-light);
}







.chart-card-root-class-name7 {
  width: auto;
}

.chart-card-root-class-name9 {
  width: auto;
}









.section-container {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-tenunits);
  padding-right: var(--dl-space-space-tenunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
}
.section-custom-slot {
  display: contents;
}
.section-before {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}
.section-container30 {
  display: none;
}
.section-container31 {
  display: contents;
}
.section-container32 {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.section-container34 {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.section-container36 {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.section-after {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section-container38 {
  display: none;
}
.section-container39 {
  display: contents;
}
.section-container40 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.section-container44 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.section-container46 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}














@media(max-width: 991px) {
  .section-container {
    padding-left: var(--dl-space-space-fourunits);
    padding-right: var(--dl-space-space-fourunits);
  }
  .section-container40 {
    align-items: flex-start;
  }
  .section-container46 {
    align-items: flex-end;
  }
}
@media(max-width: 767px) {
  .section-container {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .section-before {
    gap: var(--dl-space-space-fiveunits);
    flex-direction: column;
  }
  .section-after {
    gap: var(--dl-space-space-fiveunits);
    flex-direction: column;
    justify-content: flex-start;
  }
  .section-container40 {
    gap: 0;
    flex-direction: row;
    justify-content: space-between;
  }
  .section-container46 {
    gap: 0;
    flex-direction: row;
    justify-content: space-between;
  }
}
@media(max-width: 479px) {
  .section-container {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .section-after {
    flex-direction: column;
  }
  .section-container40 {
    flex-direction: row;
  }
  .section-container46 {
    flex-direction: row;
  }
}

.section-container {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-tenunits);
  padding-right: var(--dl-space-space-tenunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
}
.section-custom-slot {
  display: contents;
}














@media(max-width: 991px) {
  .section-container {
    padding-left: var(--dl-space-space-fourunits);
    padding-right: var(--dl-space-space-fourunits);
  }
}
@media(max-width: 767px) {
  .section-container {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .section-container {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
}

.section-container {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-tenunits);
  padding-right: var(--dl-space-space-tenunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
}
.section-custom-slot {
  display: contents;
}














@media(max-width: 991px) {
  .section-container {
    padding-left: var(--dl-space-space-fourunits);
    padding-right: var(--dl-space-space-fourunits);
  }
}
@media(max-width: 767px) {
  .section-container {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .section-container {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
}

.section-container {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-tenunits);
  padding-right: var(--dl-space-space-tenunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
}
.section-custom-slot {
  display: contents;
}
.section-image2 {
  width: 200px;
  object-fit: cover;
}














@media(max-width: 991px) {
  .section-container {
    padding-left: var(--dl-space-space-fourunits);
    padding-right: var(--dl-space-space-fourunits);
  }
}
@media(max-width: 767px) {
  .section-container {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .section-container {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
}

.footer-footer {
  gap: var(--dl-space-space-fourunits);
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: flex-end;
}
.footer-root-class-name {
  left: 0px;
  bottom: 0px;
  position: static;
}

.vvcase-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.vvcase-thoughts {
  width: 100%;
}
.vvcase-mockup {
  width: 100%;
}



