.imgcarousel-js-container2 {
  display: contents;
}

.imgcarousel-js-root-class-name1 {
  width: auto;
  height: auto;
}
.imgcarousel-js-root-class-name2 {
  width: auto;
  height: auto;
}

.pg-header-header {
  display: flex;
  position: relative;
  align-self: stretch;
  flex-shrink: 0;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.pg-header-frame6 {
  gap: var(--dl-space-space-fiveunits);
  display: flex;
}




@media(max-width: 991px) {
  .pg-header-frame6 {
    gap: var(--dl-space-space-fourunits);
  }
}
@media(max-width: 767px) {
  .pg-header-header {
    gap: var(--dl-space-space-oneandhalfunits);
    flex-direction: column;
    justify-content: flex-start;
  }
  .pg-header-frame6 {
    gap: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .pg-header-header {
    gap: var(--dl-space-space-oneandhalfunits);
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
}

.pg-section-container {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  position: relative;
  align-items: flex-start;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-tenunits);
  padding-right: var(--dl-space-space-tenunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
}
.pg-section-custom-slot {
  display: contents;
}
.pg-section-image {
  object-fit: cover;
}














































@media(max-width: 991px) {
  .pg-section-container {
    padding-left: var(--dl-space-space-fourunits);
    padding-right: var(--dl-space-space-fourunits);
  }
}
@media(max-width: 767px) {
  .pg-section-container {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .pg-section-container {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
}

.txt-h1-property1h1 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.txt-h1-text {
  color: var(--dl-color-palette-accent);
}





.pg-section-container {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  position: relative;
  align-items: flex-start;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-tenunits);
  padding-right: var(--dl-space-space-tenunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
}
.pg-section-custom-slot {
  display: contents;
}














































@media(max-width: 991px) {
  .pg-section-container {
    padding-left: var(--dl-space-space-fourunits);
    padding-right: var(--dl-space-space-fourunits);
  }
}
@media(max-width: 767px) {
  .pg-section-container {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .pg-section-container {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
}

.txt-h2-property1h2 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
}
.txt-h2-text {
  color: var(--dl-color-palette-accent);
  align-self: stretch;
}
.txt-h2-text1 {
  align-self: stretch;
}
.txt-h2-text2 {
  align-self: stretch;
}

.txt-h2-root-class-name1 {
  flex: 1;
  width: 100%;
}
.txt-h2-root-class-name2 {
  flex: 1;
  width: 100%;
}



















.txt-h2-root-class-name22 {
  flex: 1;
  width: 100%;
}
.txt-h2-root-class-name23 {
  flex: 1;
  width: 100%;
}














.txt-h2-root-class-name38 {
  flex: 1;
  width: 100%;
}
.txt-h2-root-class-name39 {
  flex: 1;
  width: 100%;
}














@media(max-width: 479px) {
  .txt-h2-root-class-name1 {
    flex: 0 0 auto;
  }
  .txt-h2-root-class-name2 {
    flex: 0 0 auto;
  }
  .txt-h2-root-class-name22 {
    flex: 0 0 auto;
  }
  .txt-h2-root-class-name23 {
    flex: 0 0 auto;
  }
  .txt-h2-root-class-name38 {
    flex: 0 0 auto;
  }
  .txt-h2-root-class-name39 {
    flex: 0 0 auto;
  }
}

.pg-section-container {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  position: relative;
  align-items: flex-start;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-tenunits);
  padding-right: var(--dl-space-space-tenunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
}
.pg-section-custom-slot {
  display: contents;
}
.pg-section-container02 {
  gap: var(--dl-space-space-fourunits);
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
}














































@media(max-width: 991px) {
  .pg-section-container {
    padding-left: var(--dl-space-space-fourunits);
    padding-right: var(--dl-space-space-fourunits);
  }
}
@media(max-width: 767px) {
  .pg-section-container {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .pg-section-container {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .pg-section-container02 {
    gap: var(--dl-space-space-twounits);
  }
}

.txt-h3-property1h3 {
  gap: var(--dl-space-space-unit);
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.txt-h3-text {
  color: var(--dl-color-palette-accent);
  align-self: stretch;
}
.txt-h3-text1 {
  align-self: stretch;
}
.txt-h3-text2 {
  align-self: stretch;
}







.txt-h3-root-class-name7 {
  align-self: center;
}
.txt-h3-root-class-name8 {
  align-self: center;
}















.txt-h3-root-class-name24 {
  align-self: center;
}
.txt-h3-root-class-name25 {
  align-self: center;
}












.txt-h3-root-class-name38 {
  align-self: center;
}
.txt-h3-root-class-name39 {
  align-self: center;
}





.txt-h3-root-class-name45 {
  align-self: center;
}
.txt-h3-root-class-name46 {
  align-self: center;
}

.bgs-card-section {
  display: flex;
  position: relative;
  align-self: stretch;
  text-align: center;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-corner);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: center;
  background-color: var(--dl-color-palette-light);
}
.bgs-card-custom-slot {
  display: contents;
}
.bgs-card-root-class-name {
  flex: 4;
  width: 100%;
}
.bgs-card-root-class-name1 {
  flex: 4;
  width: 100%;
}

.bgs-card-root-class-name3 {
  flex: 4;
  width: 100%;
}
.bgs-card-root-class-name4 {
  flex: 4;
  width: 100%;
}


.bgs-card-root-class-name7 {
  flex: 4;
  width: auto;
}

.bgs-card-root-class-name9 {
  flex: 4;
  width: auto;
}
.bgs-card-root-class-name10 {
  flex: 4;
  width: 100%;
}
.bgs-card-root-class-name11 {
  flex: 4;
  width: 100%;
}




.bgs-card-root-class-name16 {
  flex: 4;
  width: 100%;
}
.bgs-card-root-class-name17 {
  flex: 4;
  width: 100%;
}
.bgs-card-root-class-name18 {
  flex: 4;
  width: auto;
}
.bgs-card-root-class-name19 {
  flex: 4;
  width: 100%;
}




@media(max-width: 767px) {
  .bgs-card-root-class-name {
    flex: 0 0 auto;
  }
  .bgs-card-root-class-name1 {
    flex: 0 0 auto;
  }
  .bgs-card-root-class-name3 {
    flex: 0 0 auto;
  }
  .bgs-card-root-class-name4 {
    flex: 0 0 auto;
  }
  .bgs-card-root-class-name7 {
    flex: 0 0 auto;
    width: 100%;
  }
  .bgs-card-root-class-name9 {
    flex: 0 0 auto;
    width: 100%;
  }
  .bgs-card-root-class-name10 {
    flex: 0 0 auto;
  }
  .bgs-card-root-class-name11 {
    flex: 0 0 auto;
  }
  .bgs-card-root-class-name16 {
    flex: 0 0 auto;
  }
  .bgs-card-root-class-name17 {
    flex: 0 0 auto;
  }
  .bgs-card-root-class-name18 {
    flex: 0 0 auto;
    width: 100%;
  }
  .bgs-card-root-class-name19 {
    flex: 0 0 auto;
  }
}

.bgs-card-section {
  display: flex;
  position: relative;
  align-self: stretch;
  text-align: center;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-corner);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: center;
  background-color: var(--dl-color-palette-light);
}
.bgs-card-custom-slot {
  display: contents;
}
.bgs-card-root-class-name {
  flex: 4;
  width: 100%;
}
.bgs-card-root-class-name1 {
  flex: 4;
  width: 100%;
}

.bgs-card-root-class-name3 {
  flex: 4;
  width: 100%;
}
.bgs-card-root-class-name4 {
  flex: 4;
  width: 100%;
}


.bgs-card-root-class-name7 {
  flex: 4;
  width: auto;
}

.bgs-card-root-class-name9 {
  flex: 4;
  width: auto;
}
.bgs-card-root-class-name10 {
  flex: 4;
  width: 100%;
}
.bgs-card-root-class-name11 {
  flex: 4;
  width: 100%;
}




.bgs-card-root-class-name16 {
  flex: 4;
  width: 100%;
}
.bgs-card-root-class-name17 {
  flex: 4;
  width: 100%;
}
.bgs-card-root-class-name18 {
  flex: 4;
  width: auto;
}
.bgs-card-root-class-name19 {
  flex: 4;
  width: 100%;
}




@media(max-width: 767px) {
  .bgs-card-root-class-name {
    flex: 0 0 auto;
  }
  .bgs-card-root-class-name1 {
    flex: 0 0 auto;
  }
  .bgs-card-root-class-name3 {
    flex: 0 0 auto;
  }
  .bgs-card-root-class-name4 {
    flex: 0 0 auto;
  }
  .bgs-card-root-class-name7 {
    flex: 0 0 auto;
    width: 100%;
  }
  .bgs-card-root-class-name9 {
    flex: 0 0 auto;
    width: 100%;
  }
  .bgs-card-root-class-name10 {
    flex: 0 0 auto;
  }
  .bgs-card-root-class-name11 {
    flex: 0 0 auto;
  }
  .bgs-card-root-class-name16 {
    flex: 0 0 auto;
  }
  .bgs-card-root-class-name17 {
    flex: 0 0 auto;
  }
  .bgs-card-root-class-name18 {
    flex: 0 0 auto;
    width: 100%;
  }
  .bgs-card-root-class-name19 {
    flex: 0 0 auto;
  }
}

.bgs-card-section {
  display: flex;
  position: relative;
  align-self: stretch;
  text-align: center;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-corner);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: center;
  background-color: var(--dl-color-palette-light);
}
.bgs-card-custom-slot {
  display: contents;
}
.bgs-card-root-class-name {
  flex: 4;
  width: 100%;
}
.bgs-card-root-class-name1 {
  flex: 4;
  width: 100%;
}

.bgs-card-root-class-name3 {
  flex: 4;
  width: 100%;
}
.bgs-card-root-class-name4 {
  flex: 4;
  width: 100%;
}


.bgs-card-root-class-name7 {
  flex: 4;
  width: auto;
}

.bgs-card-root-class-name9 {
  flex: 4;
  width: auto;
}
.bgs-card-root-class-name10 {
  flex: 4;
  width: 100%;
}
.bgs-card-root-class-name11 {
  flex: 4;
  width: 100%;
}




.bgs-card-root-class-name16 {
  flex: 4;
  width: 100%;
}
.bgs-card-root-class-name17 {
  flex: 4;
  width: 100%;
}
.bgs-card-root-class-name18 {
  flex: 4;
  width: auto;
}
.bgs-card-root-class-name19 {
  flex: 4;
  width: 100%;
}




@media(max-width: 767px) {
  .bgs-card-root-class-name {
    flex: 0 0 auto;
  }
  .bgs-card-root-class-name1 {
    flex: 0 0 auto;
  }
  .bgs-card-root-class-name3 {
    flex: 0 0 auto;
  }
  .bgs-card-root-class-name4 {
    flex: 0 0 auto;
  }
  .bgs-card-root-class-name7 {
    flex: 0 0 auto;
    width: 100%;
  }
  .bgs-card-root-class-name9 {
    flex: 0 0 auto;
    width: 100%;
  }
  .bgs-card-root-class-name10 {
    flex: 0 0 auto;
  }
  .bgs-card-root-class-name11 {
    flex: 0 0 auto;
  }
  .bgs-card-root-class-name16 {
    flex: 0 0 auto;
  }
  .bgs-card-root-class-name17 {
    flex: 0 0 auto;
  }
  .bgs-card-root-class-name18 {
    flex: 0 0 auto;
    width: 100%;
  }
  .bgs-card-root-class-name19 {
    flex: 0 0 auto;
  }
}

.bgs-card-section {
  display: flex;
  position: relative;
  align-self: stretch;
  text-align: center;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-corner);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: center;
  background-color: var(--dl-color-palette-light);
}
.bgs-card-custom-slot {
  display: contents;
}
.bgs-card-root-class-name {
  flex: 4;
  width: 100%;
}
.bgs-card-root-class-name1 {
  flex: 4;
  width: 100%;
}

.bgs-card-root-class-name3 {
  flex: 4;
  width: 100%;
}
.bgs-card-root-class-name4 {
  flex: 4;
  width: 100%;
}


.bgs-card-root-class-name7 {
  flex: 4;
  width: auto;
}

.bgs-card-root-class-name9 {
  flex: 4;
  width: auto;
}
.bgs-card-root-class-name10 {
  flex: 4;
  width: 100%;
}
.bgs-card-root-class-name11 {
  flex: 4;
  width: 100%;
}




.bgs-card-root-class-name16 {
  flex: 4;
  width: 100%;
}
.bgs-card-root-class-name17 {
  flex: 4;
  width: 100%;
}
.bgs-card-root-class-name18 {
  flex: 4;
  width: auto;
}
.bgs-card-root-class-name19 {
  flex: 4;
  width: 100%;
}




@media(max-width: 767px) {
  .bgs-card-root-class-name {
    flex: 0 0 auto;
  }
  .bgs-card-root-class-name1 {
    flex: 0 0 auto;
  }
  .bgs-card-root-class-name3 {
    flex: 0 0 auto;
  }
  .bgs-card-root-class-name4 {
    flex: 0 0 auto;
  }
  .bgs-card-root-class-name7 {
    flex: 0 0 auto;
    width: 100%;
  }
  .bgs-card-root-class-name9 {
    flex: 0 0 auto;
    width: 100%;
  }
  .bgs-card-root-class-name10 {
    flex: 0 0 auto;
  }
  .bgs-card-root-class-name11 {
    flex: 0 0 auto;
  }
  .bgs-card-root-class-name16 {
    flex: 0 0 auto;
  }
  .bgs-card-root-class-name17 {
    flex: 0 0 auto;
  }
  .bgs-card-root-class-name18 {
    flex: 0 0 auto;
    width: 100%;
  }
  .bgs-card-root-class-name19 {
    flex: 0 0 auto;
  }
}

.pg-section-container {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  position: relative;
  align-items: flex-start;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-tenunits);
  padding-right: var(--dl-space-space-tenunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
}
.pg-section-custom-slot {
  display: contents;
}
.pg-section-container03 {
  gap: var(--dl-space-space-threeunits);
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
}
.pg-section-container04 {
  gap: var(--dl-space-space-threeunits);
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
}














































@media(max-width: 991px) {
  .pg-section-container {
    padding-left: var(--dl-space-space-fourunits);
    padding-right: var(--dl-space-space-fourunits);
  }
}
@media(max-width: 767px) {
  .pg-section-container {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .pg-section-container {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
}

.bgs-card-section {
  display: flex;
  position: relative;
  align-self: stretch;
  text-align: center;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-corner);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: center;
  background-color: var(--dl-color-palette-light);
}
.bgs-card-custom-slot {
  display: contents;
}
.bgs-card-text {
  width: auto;
}
.bgs-card-root-class-name {
  flex: 4;
  width: 100%;
}
.bgs-card-root-class-name1 {
  flex: 4;
  width: 100%;
}

.bgs-card-root-class-name3 {
  flex: 4;
  width: 100%;
}
.bgs-card-root-class-name4 {
  flex: 4;
  width: 100%;
}


.bgs-card-root-class-name7 {
  flex: 4;
  width: auto;
}

.bgs-card-root-class-name9 {
  flex: 4;
  width: auto;
}
.bgs-card-root-class-name10 {
  flex: 4;
  width: 100%;
}
.bgs-card-root-class-name11 {
  flex: 4;
  width: 100%;
}




.bgs-card-root-class-name16 {
  flex: 4;
  width: 100%;
}
.bgs-card-root-class-name17 {
  flex: 4;
  width: 100%;
}
.bgs-card-root-class-name18 {
  flex: 4;
  width: auto;
}
.bgs-card-root-class-name19 {
  flex: 4;
  width: 100%;
}




@media(max-width: 767px) {
  .bgs-card-root-class-name {
    flex: 0 0 auto;
  }
  .bgs-card-root-class-name1 {
    flex: 0 0 auto;
  }
  .bgs-card-root-class-name3 {
    flex: 0 0 auto;
  }
  .bgs-card-root-class-name4 {
    flex: 0 0 auto;
  }
  .bgs-card-root-class-name7 {
    flex: 0 0 auto;
    width: 100%;
  }
  .bgs-card-root-class-name9 {
    flex: 0 0 auto;
    width: 100%;
  }
  .bgs-card-root-class-name10 {
    flex: 0 0 auto;
  }
  .bgs-card-root-class-name11 {
    flex: 0 0 auto;
  }
  .bgs-card-root-class-name16 {
    flex: 0 0 auto;
  }
  .bgs-card-root-class-name17 {
    flex: 0 0 auto;
  }
  .bgs-card-root-class-name18 {
    flex: 0 0 auto;
    width: 100%;
  }
  .bgs-card-root-class-name19 {
    flex: 0 0 auto;
  }
}

.txt-quote-quote {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  padding-top: 0px;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: 0px;
  justify-content: flex-start;
}
.txt-quote-text {
  color: var(--dl-color-palette-accent);
  align-self: center;
  text-align: center;
  line-height: 100%;
  padding-top: var(--dl-space-space-threeunits);
}
.txt-quote-text1 {
  top: 0px;
  left: 0px;
  color: var(--dl-color-palette-accent);
  right: 0px;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 96px;
  font-style: Bold;
  text-align: center;
  font-family: "Kalnia";
  font-weight: 700;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}







.bgs-card-section {
  display: flex;
  position: relative;
  align-self: stretch;
  text-align: center;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-corner);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: center;
  background-color: var(--dl-color-palette-light);
}
.bgs-card-custom-slot {
  display: contents;
}
.bgs-card-text01 {
  font-size: 1rem;
  font-style: normal;
  font-family: "Lato";
  font-weight: 300;
  line-height: 130%;
  padding-top: var(--dl-space-space-unit);
}
.bgs-card-root-class-name {
  flex: 4;
  width: 100%;
}
.bgs-card-root-class-name1 {
  flex: 4;
  width: 100%;
}

.bgs-card-root-class-name3 {
  flex: 4;
  width: 100%;
}
.bgs-card-root-class-name4 {
  flex: 4;
  width: 100%;
}


.bgs-card-root-class-name7 {
  flex: 4;
  width: auto;
}

.bgs-card-root-class-name9 {
  flex: 4;
  width: auto;
}
.bgs-card-root-class-name10 {
  flex: 4;
  width: 100%;
}
.bgs-card-root-class-name11 {
  flex: 4;
  width: 100%;
}




.bgs-card-root-class-name16 {
  flex: 4;
  width: 100%;
}
.bgs-card-root-class-name17 {
  flex: 4;
  width: 100%;
}
.bgs-card-root-class-name18 {
  flex: 4;
  width: auto;
}
.bgs-card-root-class-name19 {
  flex: 4;
  width: 100%;
}




@media(max-width: 767px) {
  .bgs-card-root-class-name {
    flex: 0 0 auto;
  }
  .bgs-card-root-class-name1 {
    flex: 0 0 auto;
  }
  .bgs-card-root-class-name3 {
    flex: 0 0 auto;
  }
  .bgs-card-root-class-name4 {
    flex: 0 0 auto;
  }
  .bgs-card-root-class-name7 {
    flex: 0 0 auto;
    width: 100%;
  }
  .bgs-card-root-class-name9 {
    flex: 0 0 auto;
    width: 100%;
  }
  .bgs-card-root-class-name10 {
    flex: 0 0 auto;
  }
  .bgs-card-root-class-name11 {
    flex: 0 0 auto;
  }
  .bgs-card-root-class-name16 {
    flex: 0 0 auto;
  }
  .bgs-card-root-class-name17 {
    flex: 0 0 auto;
  }
  .bgs-card-root-class-name18 {
    flex: 0 0 auto;
    width: 100%;
  }
  .bgs-card-root-class-name19 {
    flex: 0 0 auto;
  }
}

.bgs-card-section {
  display: flex;
  position: relative;
  align-self: stretch;
  text-align: center;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-corner);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: center;
  background-color: var(--dl-color-palette-light);
}
.bgs-card-custom-slot {
  display: contents;
}
.bgs-card-root-class-name {
  flex: 4;
  width: 100%;
}
.bgs-card-root-class-name1 {
  flex: 4;
  width: 100%;
}

.bgs-card-root-class-name3 {
  flex: 4;
  width: 100%;
}
.bgs-card-root-class-name4 {
  flex: 4;
  width: 100%;
}


.bgs-card-root-class-name7 {
  flex: 4;
  width: auto;
}

.bgs-card-root-class-name9 {
  flex: 4;
  width: auto;
}
.bgs-card-root-class-name10 {
  flex: 4;
  width: 100%;
}
.bgs-card-root-class-name11 {
  flex: 4;
  width: 100%;
}




.bgs-card-root-class-name16 {
  flex: 4;
  width: 100%;
}
.bgs-card-root-class-name17 {
  flex: 4;
  width: 100%;
}
.bgs-card-root-class-name18 {
  flex: 4;
  width: auto;
}
.bgs-card-root-class-name19 {
  flex: 4;
  width: 100%;
}




@media(max-width: 767px) {
  .bgs-card-root-class-name {
    flex: 0 0 auto;
  }
  .bgs-card-root-class-name1 {
    flex: 0 0 auto;
  }
  .bgs-card-root-class-name3 {
    flex: 0 0 auto;
  }
  .bgs-card-root-class-name4 {
    flex: 0 0 auto;
  }
  .bgs-card-root-class-name7 {
    flex: 0 0 auto;
    width: 100%;
  }
  .bgs-card-root-class-name9 {
    flex: 0 0 auto;
    width: 100%;
  }
  .bgs-card-root-class-name10 {
    flex: 0 0 auto;
  }
  .bgs-card-root-class-name11 {
    flex: 0 0 auto;
  }
  .bgs-card-root-class-name16 {
    flex: 0 0 auto;
  }
  .bgs-card-root-class-name17 {
    flex: 0 0 auto;
  }
  .bgs-card-root-class-name18 {
    flex: 0 0 auto;
    width: 100%;
  }
  .bgs-card-root-class-name19 {
    flex: 0 0 auto;
  }
}

.pg-section-container {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  position: relative;
  align-items: flex-start;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-tenunits);
  padding-right: var(--dl-space-space-tenunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
}
.pg-section-custom-slot {
  display: contents;
}














































@media(max-width: 991px) {
  .pg-section-container {
    padding-left: var(--dl-space-space-fourunits);
    padding-right: var(--dl-space-space-fourunits);
  }
}
@media(max-width: 767px) {
  .pg-section-container {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .pg-section-container {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
}

.pg-section-container {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  position: relative;
  align-items: flex-start;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-tenunits);
  padding-right: var(--dl-space-space-tenunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
}
.pg-section-custom-slot {
  display: contents;
}
.pg-section-cjm {
  gap: 8px;
  width: 100%;
  height: auto;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  border-radius: 10px;
  flex-direction: column;
}
.pg-section-container06 {
  display: contents;
}
.pg-section-row1 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: flex-end;
  flex-shrink: 0;
  border-radius: var(--dl-radius-radius-corner);
  background-color: var(--dl-color-palette-light);
}
.pg-section-container07 {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.pg-section-container08 {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.pg-section-container09 {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.pg-section-container10 {
  flex: 1;
  width: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: row;
}
.pg-section-row2 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  flex-shrink: 0;
  border-radius: var(--dl-radius-radius-corner);
  justify-content: flex-start;
  background-color: var(--dl-color-palette-light);
}
.pg-section-container11 {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.pg-section-container12 {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.pg-section-container13 {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.pg-section-container14 {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.pg-section-row3 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  flex-shrink: 0;
  border-radius: var(--dl-radius-radius-corner);
  justify-content: space-between;
  background-color: var(--dl-color-palette-light);
}
.pg-section-container15 {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.pg-section-container16 {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.pg-section-container17 {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.pg-section-container18 {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.pg-section-row4 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  flex-shrink: 0;
  border-radius: var(--dl-radius-radius-corner);
  justify-content: space-between;
}
.pg-section-container19 {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.pg-section-container20 {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.pg-section-container21 {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.pg-section-container22 {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.pg-section-emotions {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  flex-shrink: 0;
  border-radius: var(--dl-radius-radius-corner);
  background-color: var(--dl-color-palette-light);
}
.pg-section-container23 {
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.pg-section-frame4227 {
  flex: 1;
  display: flex;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.pg-section-apathy {
  width: 80px;
  height: 80px;
}
.pg-section-frame4232 {
  gap: var(--dl-space-space-twounits);
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.pg-section-unhappy {
  width: 80px;
  height: 80px;
}
.pg-section-irreverent {
  width: 80px;
  height: 80px;
}
.pg-section-frame4233 {
  gap: var(--dl-space-space-fiveunits);
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.pg-section-unhappy1 {
  width: 80px;
  height: 80px;
}
.pg-section-image2x {
  width: 80px;
  height: 80px;
}
.pg-section-row5 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  flex-shrink: 0;
  border-radius: var(--dl-radius-radius-corner);
  justify-content: space-between;
}
.pg-section-container24 {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.pg-section-container25 {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.pg-section-container26 {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.pg-section-container27 {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}














































@media(max-width: 991px) {
  .pg-section-container {
    padding-left: var(--dl-space-space-fourunits);
    padding-right: var(--dl-space-space-fourunits);
  }
}
@media(max-width: 767px) {
  .pg-section-container {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .pg-section-container {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .pg-section-text20 {
    width: 100%;
  }
}

.imgcarousel-imagecarousel {
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-self: stretch;
  flex-shrink: 0;
  border-radius: var(--dl-radius-radius-corner);
  flex-direction: column;
  background-color: var(--dl-color-palette-light);
}
.imgcarousel-container {
  gap: var(--dl-space-space-threeunits);
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
}
.imgcarousel-container01 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.imgcarousel-container02 {
  width: var(--dl-size-size-medium);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.imgcarousel-text {
  color: var(--dl-color-palette-accent);
  font-size: 3rem;
  font-family: Kalnia;
  font-weight: 900;
}
.imgcarousel-container03 {
  height: 100%;
  display: flex;
  align-self: center;
  max-height: 100%;
  align-items: center;
  justify-content: space-between;
}
.imgcarousel-image {
  object-fit: cover;
}
.imgcarousel-image1 {
  display: none;
  object-fit: cover;
}
.imgcarousel-image2 {
  display: none;
  object-fit: cover;
}
.imgcarousel-image3 {
  display: none;
  object-fit: cover;
}
.imgcarousel-container04 {
  width: var(--dl-size-size-medium);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.imgcarousel-text1 {
  color: var(--dl-color-palette-accent);
  font-size: 3rem;
  font-family: Kalnia;
  font-weight: 900;
}
.imgcarousel-container05 {
  gap: var(--dl-space-space-twounits);
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.imgcarousel-container06 {
  flex: 1;
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  min-width: var(--dl-size-size-small);
  align-self: stretch;
  align-items: center;
  justify-content: center;
}
.imgcarousel-image4 {
  object-fit: cover;
}
.imgcarousel-container07 {
  flex: 1;
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  min-width: var(--dl-size-size-small);
  align-self: stretch;
  align-items: center;
  justify-content: center;
}
.imgcarousel-image5 {
  object-fit: cover;
}
.imgcarousel-container08 {
  flex: 1;
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  min-width: var(--dl-size-size-small);
  align-self: stretch;
  align-items: center;
  justify-content: center;
}
.imgcarousel-image6 {
  object-fit: cover;
}
.imgcarousel-container09 {
  flex: 1;
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  min-width: var(--dl-size-size-small);
  align-self: stretch;
  align-items: center;
  justify-content: center;
}
.imgcarousel-image7 {
  object-fit: cover;
}
.imgcarousel-root-class-name {
  width: 100%;
}
.imgcarousel-root-class-name1 {
  width: 100%;
}
.imgcarousel-root-class-name2 {
  width: 100%;
}
.imgcarousel-root-class-name3 {
  width: 100%;
}
.imgcarousel-root-class-name4 {
  width: 100%;
}
.imgcarousel-root-class-name5 {
  width: 100%;
}
.imgcarousel-root-class-name6 {
  width: 100%;
}
.imgcarousel-root-class-name7 {
  width: 100%;
}
.imgcarousel-root-class-name8 {
  width: 100%;
}
@media(max-width: 991px) {
  .imgcarousel-text {
    font-size: 2rem;
  }
  .imgcarousel-text1 {
    font-size: 2rem;
  }
}
@media(max-width: 767px) {
  .imgcarousel-container05 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 479px) {
  .imgcarousel-text {
    padding: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-unit);
  }
  .imgcarousel-text1 {
    padding: var(--dl-space-space-halfunit);
    margin-left: var(--dl-space-space-unit);
  }
  .imgcarousel-container05 {
    gap: var(--dl-space-space-unit);
  }
}

.pg-section-container {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  position: relative;
  align-items: flex-start;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-tenunits);
  padding-right: var(--dl-space-space-tenunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
}
.pg-section-custom-slot {
  display: contents;
}














































@media(max-width: 991px) {
  .pg-section-container {
    padding-left: var(--dl-space-space-fourunits);
    padding-right: var(--dl-space-space-fourunits);
  }
}
@media(max-width: 767px) {
  .pg-section-container {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .pg-section-container {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
}

.pg-section-container {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  position: relative;
  align-items: flex-start;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-tenunits);
  padding-right: var(--dl-space-space-tenunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
}
.pg-section-custom-slot {
  display: contents;
}
.pg-section-container28 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}














































@media(max-width: 991px) {
  .pg-section-container {
    padding-left: var(--dl-space-space-fourunits);
    padding-right: var(--dl-space-space-fourunits);
  }
}
@media(max-width: 767px) {
  .pg-section-container {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .pg-section-container {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
}

.pg-section-container {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  position: relative;
  align-items: flex-start;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-tenunits);
  padding-right: var(--dl-space-space-tenunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
}
.pg-section-custom-slot {
  display: contents;
}
.pg-section-container29 {
  gap: var(--dl-space-space-threeunits);
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.pg-section-container30 {
  gap: var(--dl-space-space-twounits);
  flex: 1;
  width: auto;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.pg-section-container31 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.pg-section-image1 {
  width: auto;
  object-fit: cover;
}
.pg-section-image2 {
  width: auto;
  height: auto;
  object-fit: cover;
}
.pg-section-container32 {
  gap: var(--dl-space-space-twounits);
  flex: 1;
  width: auto;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.pg-section-image3 {
  width: 100%;
  align-self: stretch;
  object-fit: cover;
}














































@media(max-width: 991px) {
  .pg-section-container {
    padding-left: var(--dl-space-space-fourunits);
    padding-right: var(--dl-space-space-fourunits);
  }
}
@media(max-width: 767px) {
  .pg-section-container {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .pg-section-container {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .pg-section-container29 {
    flex-direction: column;
  }
  .pg-section-image2 {
    width: 100%;
    height: auto;
  }
}

.bgs-card-section {
  display: flex;
  position: relative;
  align-self: stretch;
  text-align: center;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-corner);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: center;
  background-color: var(--dl-color-palette-light);
}
.bgs-card-custom-slot {
  display: contents;
}
.bgs-card-root-class-name {
  flex: 4;
  width: 100%;
}
.bgs-card-root-class-name1 {
  flex: 4;
  width: 100%;
}

.bgs-card-root-class-name3 {
  flex: 4;
  width: 100%;
}
.bgs-card-root-class-name4 {
  flex: 4;
  width: 100%;
}


.bgs-card-root-class-name7 {
  flex: 4;
  width: auto;
}

.bgs-card-root-class-name9 {
  flex: 4;
  width: auto;
}
.bgs-card-root-class-name10 {
  flex: 4;
  width: 100%;
}
.bgs-card-root-class-name11 {
  flex: 4;
  width: 100%;
}




.bgs-card-root-class-name16 {
  flex: 4;
  width: 100%;
}
.bgs-card-root-class-name17 {
  flex: 4;
  width: 100%;
}
.bgs-card-root-class-name18 {
  flex: 4;
  width: auto;
}
.bgs-card-root-class-name19 {
  flex: 4;
  width: 100%;
}




@media(max-width: 767px) {
  .bgs-card-root-class-name {
    flex: 0 0 auto;
  }
  .bgs-card-root-class-name1 {
    flex: 0 0 auto;
  }
  .bgs-card-root-class-name3 {
    flex: 0 0 auto;
  }
  .bgs-card-root-class-name4 {
    flex: 0 0 auto;
  }
  .bgs-card-root-class-name7 {
    flex: 0 0 auto;
    width: 100%;
  }
  .bgs-card-root-class-name9 {
    flex: 0 0 auto;
    width: 100%;
  }
  .bgs-card-root-class-name10 {
    flex: 0 0 auto;
  }
  .bgs-card-root-class-name11 {
    flex: 0 0 auto;
  }
  .bgs-card-root-class-name16 {
    flex: 0 0 auto;
  }
  .bgs-card-root-class-name17 {
    flex: 0 0 auto;
  }
  .bgs-card-root-class-name18 {
    flex: 0 0 auto;
    width: 100%;
  }
  .bgs-card-root-class-name19 {
    flex: 0 0 auto;
  }
}

.pg-section-container {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  position: relative;
  align-items: flex-start;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-tenunits);
  padding-right: var(--dl-space-space-tenunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
}
.pg-section-custom-slot {
  display: contents;
}














































@media(max-width: 991px) {
  .pg-section-container {
    padding-left: var(--dl-space-space-fourunits);
    padding-right: var(--dl-space-space-fourunits);
  }
}
@media(max-width: 767px) {
  .pg-section-container {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .pg-section-container {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
}

.bgs-chart-card-flowchartblock {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  flex-shrink: 0;
  border-radius: var(--dl-radius-radius-corner);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-palette-light);
}







.bgs-chart-card-root-class-name7 {
  width: auto;
}

.bgs-chart-card-root-class-name9 {
  width: auto;
}








.bgs-chart-card-root-class-name18 {
  width: auto;
}








.bgs-chart-card-root-class-name27 {
  width: auto;
}








.bgs-chart-card-root-class-name36 {
  width: auto;
}









.pg-section-container {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  position: relative;
  align-items: flex-start;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-tenunits);
  padding-right: var(--dl-space-space-tenunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
}
.pg-section-custom-slot {
  display: contents;
}
.pg-section-before {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}
.pg-section-container33 {
  display: none;
}
.pg-section-container34 {
  display: contents;
}
.pg-section-container35 {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.pg-section-container37 {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.pg-section-container39 {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.pg-section-after {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.pg-section-container41 {
  display: none;
}
.pg-section-container42 {
  display: contents;
}
.pg-section-container43 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.pg-section-container47 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.pg-section-container49 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}














































@media(max-width: 991px) {
  .pg-section-container {
    padding-left: var(--dl-space-space-fourunits);
    padding-right: var(--dl-space-space-fourunits);
  }
  .pg-section-container43 {
    align-items: flex-start;
  }
  .pg-section-container49 {
    align-items: flex-end;
  }
}
@media(max-width: 767px) {
  .pg-section-container {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .pg-section-before {
    gap: var(--dl-space-space-fiveunits);
    flex-direction: column;
  }
  .pg-section-after {
    gap: var(--dl-space-space-fiveunits);
    flex-direction: column;
    justify-content: flex-start;
  }
  .pg-section-container43 {
    gap: 0;
    flex-direction: row;
    justify-content: space-between;
  }
  .pg-section-container49 {
    gap: 0;
    flex-direction: row;
    justify-content: space-between;
  }
}
@media(max-width: 479px) {
  .pg-section-container {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .pg-section-after {
    flex-direction: column;
  }
  .pg-section-container43 {
    flex-direction: row;
  }
  .pg-section-container49 {
    flex-direction: row;
  }
}

.pg-section-container {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  position: relative;
  align-items: flex-start;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-tenunits);
  padding-right: var(--dl-space-space-tenunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
}
.pg-section-custom-slot {
  display: contents;
}














































@media(max-width: 991px) {
  .pg-section-container {
    padding-left: var(--dl-space-space-fourunits);
    padding-right: var(--dl-space-space-fourunits);
  }
}
@media(max-width: 767px) {
  .pg-section-container {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .pg-section-container {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
}

.pg-section-container {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  position: relative;
  align-items: flex-start;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-tenunits);
  padding-right: var(--dl-space-space-tenunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
}
.pg-section-custom-slot {
  display: contents;
}














































@media(max-width: 991px) {
  .pg-section-container {
    padding-left: var(--dl-space-space-fourunits);
    padding-right: var(--dl-space-space-fourunits);
  }
}
@media(max-width: 767px) {
  .pg-section-container {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .pg-section-container {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
}

.pg-section-container {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  position: relative;
  align-items: flex-start;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-tenunits);
  padding-right: var(--dl-space-space-tenunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
}
.pg-section-custom-slot {
  display: contents;
}
.pg-section-image4 {
  object-fit: cover;
}














































@media(max-width: 991px) {
  .pg-section-container {
    padding-left: var(--dl-space-space-fourunits);
    padding-right: var(--dl-space-space-fourunits);
  }
}
@media(max-width: 767px) {
  .pg-section-container {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .pg-section-container {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
}

.pg-footer-footer {
  gap: var(--dl-space-space-fourunits);
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: flex-end;
}
.pg-footer-root-class-name {
  left: 0px;
  bottom: 0px;
  position: static;
}
.pg-footer-root-class-name1 {
  left: 0px;
  bottom: 0px;
  position: static;
}
.pg-footer-root-class-name2 {
  left: 0px;
  bottom: 0px;
  position: static;
}
.pg-footer-root-class-name3 {
  left: 0px;
  bottom: 0px;
  position: absolute;
}

.vvcase-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}



