.page-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.page-container1 {
  gap: var(--dl-space-space-threeunits);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.page-container2 {
  display: none;
}
.page-container3 {
  display: contents;
}
.page-container4 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.page-text {
  padding: var(--dl-space-space-threeunits);
}
.page-container5 {
  width: 200rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.page-image {
  width: 100%;
  object-fit: cover;
}
.page-image1 {
  width: 100%;
  display: none;
  object-fit: cover;
}
.page-image2 {
  width: 100%;
  display: none;
  object-fit: cover;
}
.page-text1 {
  padding: var(--dl-space-space-threeunits);
}
.page-container6 {
  gap: var(--dl-space-space-twounits);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.page-image3 {
  width: var(--dl-size-size-medium);
  object-fit: cover;
}
.page-image4 {
  width: var(--dl-size-size-medium);
  object-fit: cover;
}
.page-image5 {
  width: var(--dl-size-size-medium);
  object-fit: cover;
}
