.gallery-card3-gallery-card {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.gallery-card3-image {
  top: 0px;
  left: 0px;
  right: auto;
  width: 100%;
  bottom: auto;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
.gallery-card3-container {
  width: 100%;
  height: 300px;
  display: flex;
  opacity: 0;
  padding: var(--dl-space-space-twounits);
  z-index: 1;
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.9));;
}
.gallery-card3-container:hover {
  opacity: 1;
}
.gallery-card3-text {
  color: #FFFFFF;
  font-size: 1.5rem;
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.gallery-card3-text1 {
  color: #FFFFFF;
  text-align: center;
}












@media(max-width: 479px) {
  .gallery-card3-text {
    align-self: center;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.imagecarousel-imagecarousel {
  width: 700px;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-self: stretch;
  flex-shrink: 0;
  border-radius: var(--dl-radius-radius-corner);
  flex-direction: column;
  background-color: var(--dl-color-palette-light);
}
.imagecarousel-container {
  gap: var(--dl-space-space-threeunits);
  width: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.imagecarousel-image {
  width: 25%;
  align-self: center;
}
.imagecarousel-image1 {
  width: 25%;
  align-self: center;
}
.imagecarousel-image2 {
  width: 25%;
  align-self: center;
}
.imagecarousel-image3 {
  width: 25%;
  align-self: center;
}
.imagecarousel-root-class-name {
  width: 100%;
}
.imagecarousel-root-class-name1 {
  width: 100%;
}
.imagecarousel-root-class-name2 {
  width: 100%;
}


.h2-property1h2 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
}
.h2-text {
  color: var(--dl-color-palette-accent);
  width: auto;
  height: auto;
  align-self: stretch;
  line-height: 100%;
}
.h2-text1 {
  width: auto;
  height: auto;
  align-self: stretch;
  line-height: 150%;
}
.h2-text2 {
  width: auto;
  height: auto;
  align-self: stretch;
  line-height: 150%;
}

.h2-root-class-name1 {
  flex: 1;
  width: 100%;
}
.h2-root-class-name2 {
  flex: 1;
  width: 100%;
}

















@media(max-width: 479px) {
  .h2-root-class-name1 {
    flex: 0 0 auto;
  }
  .h2-root-class-name2 {
    flex: 0 0 auto;
  }
}

.section-container {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-tenunits);
  padding-right: var(--dl-space-space-tenunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
}
.section-custom-slot {
  display: contents;
}















@media(max-width: 991px) {
  .section-container {
    padding-left: var(--dl-space-space-fourunits);
    padding-right: var(--dl-space-space-fourunits);
  }
}
@media(max-width: 767px) {
  .section-container {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .section-container {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
}

.page-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.page-gallery {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
}
.page-text {
  font-size: 3rem;
  text-align: center;
}
.page-text1 {
  color: #999999;
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  padding-left: var(--dl-space-space-threeunits);
  margin-bottom: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-threeunits);
}
.page-container1 {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-unit);
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
@media(max-width: 991px) {
  .page-text1 {
    text-align: center;
  }
  .page-container1 {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media(max-width: 767px) {
  .page-gallery {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .page-text1 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .page-container1 {
    grid-template-columns: 1fr 1fr;
  }
}
@media(max-width: 479px) {
  .page-gallery {
    padding: var(--dl-space-space-unit);
  }
  .page-container1 {
    grid-template-columns: 1fr;
  }
}
