<div>
  <link href="./cspreviewlink.css" rel="stylesheet" />
  <div class="cspreviewlink-container">
    <div class="cspreviewlink-container1 _fullwidth100">
      <p class="cspreviewlink-text headerH3 _fullwidth100">
        <span>Case name</span>
      </p>
      <span class="cspreviewlink-text1 paragraphp3 _fullwidth100">
        <span>description</span>
      </span>
    </div>
    <img
      alt="image"
      src="https://images.unsplash.com/photo-1682687981715-fa2ff72bd87d?ixid=M3w5MTMyMXwxfDF8YWxsfDE2fHx8fHx8Mnx8MTcwMzI3NTM2OXw&ixlib=rb-4.0.3&w=1500"
      class="cspreviewlink-image _fullwidth100"
    />
    <div class="cspreviewlink-container2">
      <div
        class="txttagskill-container _colored_detail_bg txttagskill-root-class-name"
      >
        <span class="txttagskill-text"><span>skill</span></span>
      </div>
      <div
        class="txttagskill-container _colored_detail_bg txttagskill-root-class-name4"
      >
        <span class="txttagskill-text"><span>skill</span></span>
      </div>
      <div
        class="txttagskill-container _colored_detail_bg txttagskill-root-class-name3"
      >
        <span class="txttagskill-text"><span>skill</span></span>
      </div>
      <div
        class="txttagskill-container _colored_detail_bg txttagskill-root-class-name2"
      >
        <span class="txttagskill-text"><span>skill</span></span>
      </div>
      <div
        class="txttagskill-container _colored_detail_bg txttagskill-root-class-name1"
      >
        <span class="txttagskill-text"><span>skill</span></span>
      </div>
    </div>
    <span class="cspreviewlink-text2 _fullwidth100 _colored_detail_bg">
      <span>Text</span>
    </span>
  </div>
</div>
