.imagecarousel-imagecarousel {
  width: 700px;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-self: stretch;
  flex-shrink: 0;
  border-radius: var(--dl-radius-radius-corner);
  flex-direction: column;
  background-color: var(--dl-color-palette-light);
}
.imagecarousel-container {
  gap: var(--dl-space-space-threeunits);
  width: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.imagecarousel-image {
  width: 25%;
  align-self: center;
}
.imagecarousel-image1 {
  width: 25%;
  align-self: center;
}
.imagecarousel-image2 {
  width: 25%;
  align-self: center;
}
.imagecarousel-image3 {
  width: 25%;
  align-self: center;
}
.imagecarousel-root-class-name {
  width: 100%;
}
.imagecarousel-root-class-name1 {
  width: 100%;
}
.imagecarousel-root-class-name2 {
  width: 100%;
}

