<div>
  <link href="./imgcarousel.css" rel="stylesheet" />
  <div name="gallery" class="imgcarousel-imagecarousel _fullwidth100">
    <div class="imgcarousel-container _fullwidth100">
      <div class="imgcarousel-container01 _fullwidth100">
        <div name="left" class="imgcarousel-container02">
          <span class="imgcarousel-text">&lt;&lt;</span>
        </div>
        <div class="imgcarousel-container03 _fullwidth100">
          <img
            alt="image"
            src="https://images.unsplash.com/photo-1703015619478-0fe558ed7d05?ixid=M3w5MTMyMXwwfDF8YWxsfDE1fHx8fHx8Mnx8MTcwMzEyMTA2Nnw&ixlib=rb-4.0.3&w=1500"
            name="imb0"
            class="imgcarousel-image _fullwidth100"
          />
          <img
            alt="image"
            src="https://images.unsplash.com/photo-1702971916897-8f510b82d482?ixid=M3w5MTMyMXwwfDF8YWxsfDR8fHx8fHwyfHwxNzAzMTIxMDY2fA&ixlib=rb-4.0.3&w=1500"
            name="imb1"
            class="imgcarousel-image1 _fullwidth100"
          />
          <img
            alt="image"
            src="https://images.unsplash.com/photo-1702135214290-3d64446356c5?ixid=M3w5MTMyMXwwfDF8YWxsfDd8fHx8fHwyfHwxNzAzMTIxMDY2fA&ixlib=rb-4.0.3&w=1500"
            name="imb2"
            class="imgcarousel-image2 _fullwidth100"
          />
          <img
            alt="image"
            src="https://images.unsplash.com/photo-1703042569304-381d416c5be7?ixid=M3w5MTMyMXwwfDF8YWxsfDI4fHx8fHx8Mnx8MTcwMzEyMjA4OXw&ixlib=rb-4.0.3&w=1500"
            name="imb3"
            class="imgcarousel-image3 _fullwidth100"
          />
        </div>
        <div name="right" class="imgcarousel-container04">
          <span class="imgcarousel-text1">&gt;&gt;</span>
        </div>
      </div>
      <div class="imgcarousel-container05 _fullwidth100">
        <div class="imgcarousel-container06">
          <img
            alt="image"
            src="https://images.unsplash.com/photo-1703015619478-0fe558ed7d05?ixid=M3w5MTMyMXwwfDF8YWxsfDE1fHx8fHx8Mnx8MTcwMzEyMTA2Nnw&ixlib=rb-4.0.3&w=1500"
            name="ims0"
            class="imgcarousel-image4 _fullwidth100"
          />
        </div>
        <div class="imgcarousel-container07">
          <img
            alt="image"
            src="https://images.unsplash.com/photo-1702971916897-8f510b82d482?ixid=M3w5MTMyMXwwfDF8YWxsfDR8fHx8fHwyfHwxNzAzMTIxMDY2fA&ixlib=rb-4.0.3&w=1500"
            name="ims1"
            class="imgcarousel-image5 _fullwidth100"
          />
        </div>
        <div class="imgcarousel-container08">
          <img
            alt="image"
            src="https://images.unsplash.com/photo-1702135214290-3d64446356c5?ixid=M3w5MTMyMXwwfDF8YWxsfDd8fHx8fHwyfHwxNzAzMTIxMDY2fA&ixlib=rb-4.0.3&w=1500"
            name="ims2"
            class="imgcarousel-image6 _fullwidth100"
          />
        </div>
        <div class="imgcarousel-container09">
          <img
            alt="image"
            src="https://images.unsplash.com/photo-1703042569304-381d416c5be7?ixid=M3w5MTMyMXwwfDF8YWxsfDI4fHx8fHx8Mnx8MTcwMzEyMjA4OXw&ixlib=rb-4.0.3&w=1500"
            name="ims3"
            class="imgcarousel-image7 _fullwidth100"
          />
        </div>
      </div>
    </div>
  </div>
</div>
