.txt-h3-property1h3 {
  gap: var(--dl-space-space-unit);
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.txt-h3-text {
  color: var(--dl-color-palette-accent);
  align-self: stretch;
}
.txt-h3-text1 {
  align-self: stretch;
}
.txt-h3-text2 {
  align-self: stretch;
}







.txt-h3-root-class-name7 {
  align-self: center;
}
.txt-h3-root-class-name8 {
  align-self: center;
}















.txt-h3-root-class-name24 {
  align-self: center;
}
.txt-h3-root-class-name25 {
  align-self: center;
}












.txt-h3-root-class-name38 {
  align-self: center;
}
.txt-h3-root-class-name39 {
  align-self: center;
}





.txt-h3-root-class-name45 {
  align-self: center;
}
.txt-h3-root-class-name46 {
  align-self: center;
}
