.txt-h1-property1h1 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.txt-h1-text {
  color: var(--dl-color-palette-accent);
}




